/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient( */
  /*     to bottom, */
  /*     transparent, */
  /*     rgb(var(--background-end-rgb)) */
  /*   ) */
  /*   rgb(var(--background-start-rgb)); */
}

/* topics */
.topic-item:hover {
  background: lightblue;
}
.topic-action {
  margin: 0 0.5em;
  color: gray;
  display: none;
}
.topic-item:hover > .topic-action {
  display: inline;
}
.topic-id-clipboard {
  cursor: pointer;
}
span form {
  display: inline;
}
/* TopicView */
.topic-item {
  /* height: 22px; */
  margin: 1px;
  padding: 1px;
  padding-bottom: 6px;
  border: solid transparent 1px;
}
.topic-selected {
  border: solid gray 1px;
}
.topic-labels-form {
   margin: 0 0.5em;
}
.topic-label {
  border: solid gray 1px;
  padding: 0 0.2em;
  margin-left: 0.5em;
}
/*FilterTabsView*/
.filter-tab {
  margin: 0.5em;
}
