/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient( */
  /*     to bottom, */
  /*     transparent, */
  /*     rgb(var(--background-end-rgb)) */
  /*   ) */
  /*   rgb(var(--background-start-rgb)); */
}

/* topics */
.topic-item:hover {
  background: lightblue;
}
.topic-id {
  margin: 0 0.5em;
  color: gray;
  display: none;
}
.topic-item:hover > .topic-id {
  display: inline;
}
.topic-id-clipboard {
  cursor: pointer;
}
span form {
  display: inline;
}
